// 背景颜色
$video-bg-color: #16161a !default;
$video-bg-color-opacity: rgba(0, 0, 0, 0.6);

// 字体颜色
$primary-color: #1890ff !default;
$white-color: #fff !default;
$color-999: #999 !default;
$color-333: #333 !default;

// 间距
$menu-icon-right: 15px !default;
