/*常用主色*/
$primary-color: #009688 !default;
$select-color: #5fb878 !default;
$nav-color: #393d49 !default;
$bright-color: #1e9fff !default;
$white-color: #fff !default;

/*场景色*/
$warm-color: #ffb800 !default;
$danger-color: #ff5722 !default;
$link-color: #01aaed !default;
$side-color: #2f4056 !default;

/*辅助背景*/
$bg-minor-color-level1: #f0f0f0 !default;
$bg-minor-color-level2: #f2f2f2 !default;
$bg-minor-color-level3: #eeeeee !default;
$bg-minor-color-level4: #e2e2e2 !default;
$bg-minor-color-level5: #dddddd !default;
$bg-minor-color-level6: #d2d2d2 !default;
$bg-minor-color-level7: #c2c2c2 !default;

/*背景*/
$bg-orange-color: #ffb800 !default;
$bg-green-color: #009688 !default;
$bg-cyan-color: #2f4056 !default;
$bg-blue-color: #1e9fff !default;
$bg-black-color: #393d49 !default;
$bg-gray-color: #666 !default;
$bg-gray999-color: #999 !default;

/* 辅助颜色 */
$color-f6: #f6f6f6;
$color-33: #333;
$color-e6e6e6: #e6e6e6;
