ul,
li,
dd,
dl,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.layui-edge {
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}
